# Database
DATABASE_URL=""

# Upstash Redis
REDIS_URL="rediss://default:your_token@your-endpoint.upstash.io:6379"

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_name
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_secret

# Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_pass

# Security
SIGNED_URL_EXPIRY=86400 # 24 hours in seconds

# Frontend
FRONTEND_URL=http://localhost:5173
PORT=5000
